interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest/customDomains?api-version=2020-09-01
  response:
    body:
      string: '{"error":{"code":"ParentResourceNotFound","message":"Can not perform
        requested operation on nested resource. Parent resource ''profiledomaintest''
        not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-02-01T07:17:34Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_AzureFrontDoor"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest","type":"Microsoft.Cdn/profiles","name":"profiledomaintest","location":"WestUs","kind":"frontdoor","tags":{},"sku":{"name":"Standard_AzureFrontDoor"},"properties":{"frontDoorId":"fc8bfee5-5fee-45c9-930e-8a7b1944058a","resourceState":"Creating","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/52bf1884-ab93-494c-8858-ecc7882771dc?api-version=2020-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '21'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/52bf1884-ab93-494c-8858-ecc7882771dc?api-version=2020-09-01
  response:
    body:
      string: '{"status":"Succeeded","error":{"code":"None","message":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest/customDomains?api-version=2020-09-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"parameters": {"type": "CustomerCertificate", "secretSource":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cdn-powershell-test/providers/Microsoft.KeyVault/vaults/cdn-powershell-test-kv/certificates/cdn-powershell-test-cer2"},
      "useLatestVersion": true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest/secrets/secret000002?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest/secrets/secret000002","type":"Microsoft.Cdn/profiles/secrets","name":"secret000002","properties":{"parameters":{"type":"CustomerCertificate","subject":null,"certificateAuthority":null,"expirationDate":null,"thumbprint":null,"secretSource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cdn-powershell-test/providers/Microsoft.KeyVault/vaults/cdn-powershell-test-kv/certificates/cdn-powershell-test-cer2"},"secretVersion":null,"useLatestVersion":true,"subjectAlternativeNames":null},"provisioningState":"Creating","deploymentStatus":"NotStarted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/a97e76ab-18fb-4b26-be57-7b14416bbfe9?api-version=2020-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '96'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"tlsSettings": {"certificateType": "CustomerCertificate",
      "minimumTlsVersion": "TLS12", "secret": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest/secrets/secret000002"}},
      "hostName": "csharpsdk.dev.cdn.azure.cn"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest/customDomains/customdomain000003?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest/customdomains/customdomain000003","type":"Microsoft.Cdn/profiles/customdomains","name":"customdomain000003","properties":{"hostName":"csharpsdk.dev.cdn.azure.cn","tlsSettings":{"certificateType":"CustomerCertificate","minimumTlsVersion":"TLS12","secret":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest/secrets/secret000002"}},"validationProperties":{"validationToken":null,"expirationDate":"01/01/0001
        00:00:00"},"azureDnsZone":null,"domainValidationState":"Submitting","provisioningState":"Creating","deploymentStatus":"NotStarted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/23257e18-9f90-42ff-a346-ff80e0fdc426?api-version=2020-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '98'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profiledomaintest/customDomains?api-version=2020-09-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
